body {
    padding: 0;
    margin: 0;
}

header {
    color: salmon;
    background-color: peachpuff;
    border-bottom: 2px solid black;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}
header h1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
header .logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

header .logo img {
    width: 50px;
    border: 2px solid pink;
}