:root {
  --main-bg-color: #b0f0a8;
  --second-bg-color: #ddf;
  --main-color: #1a4c14;
}

body {
  font-family: arial, san-serif;
  padding: 0;
  margin: 0;
}

header {
  color: var(--main-color);
  background-color: var(--main-bg-color);
  border-bottom: 2px solid black;
}
header h1 {
  padding: 0.5em 0.2em;
  margin: 0;
}
